---
---

@import "minima";

html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #fff; /* #fdfdfd */
}

cite {
  font-style: normal;
}

.sign {
  display: inline-block;
}

.suprasegmetals .sign img {
  object-fit: fill;
}

.hcenter {
  text-align: center;
}

.bottomcap caption {
  caption-side: bottom;
}

table.tinypadding tr th, table.tinypadding tr td {
  padding: 2px;
}

table.tinypadding tr th {
  font-size: 10px;
}

table.tinypadding tr td img {
  min-width: 66px;
}
